@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  width: 75vw;
  height: 100vh;
  object-fit: none;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Define the 75%/25% split */
  height: 100vh; /* Optional: Full height of the viewport */
  gap: 0; /* Optional: No space between canvas and SVG */
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
  /* object-fit: none; */
  /* position: absolute; */
  /* right: 0px; */
  /* top: 0px; */
  background-color: white;

  line,
  polyline {
    stroke-width: 2;
    stroke: rgb(41, 41, 41);
    pointer-events: none;
    fill: none;
  }

  rect,
  circle {
    fill: rgb(41, 41, 41);
    /* stroke: rgba(149, 145, 145, 0.54); */
    /* Invisible extra-large stroke for easier clicking */
    stroke: transparent;
    stroke-width: 20;
  }

  .active {
    /* stroke: red; */
    fill: red;
  }

  line.active,
  polyline.active {
    stroke: red;
  }

  .current {
    stroke: rgb(41, 41, 41);
    fill: rgb(247, 255, 0);
    stroke-width: 4;
  }

  rect:hover,
  circle:hover {
    cursor: pointer;
    fill: rgb(94, 94, 94);
  }
}

/* Game menu */

.menu {
  position: fixed;
  top: 16px;
  left: calc(75% - 250px);
  background-color: #c0c0c0;
  /* position: relative; */
  /* border: 4px solid #808080; */
  padding: 24px;
  /* border-radius: 8px; */
  width: 200px;
  /* box-shadow: inset -4px -4px #a0a0a0; */
  box-shadow: inset 2px 2px #fff, inset -2px -2px #808080;
  font-family: "Pixelify Sans", serif;
  input {
    width: 60px;
  }

  select,
  option {
    font-family: "Pixelify Sans", serif;
    border: 0px;
    padding: 2px;
    text-transform: capitalize;
  }
}

.tutorial {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 300px);
  background-color: #c0c0c0;
  padding: 24px;
  width: 600px;
  box-shadow: inset 2px 2px #fff, inset -2px -2px #808080;
  font-family: "Pixelify Sans", serif;
  img {
    width: 100%;
  }
  .rule {
    margin: 8px;
    margin-bottom: 16px;
  }
  p {
    margin: 6px;
  }
}

button {
  min-width: 24px;
  min-height: 24px;
  box-shadow: inset 2px 2px #fff, inset -2px -2px #808080;
  border: 0px;
}

button:active {
  box-shadow: none;
  background-color: #a7a6a6;
}

#map {
  border: 1px solid #808080;
}

.noDisplay {
  /* display: none; */
  visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.close-menu,
.close-tutorial {
  /* padding: 16px; */
  font-family: monospace;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -0px;
  right: -0px;
  border: 0;
  box-shadow: inset 2px 2px #ffe7e7, inset -2px -2px #744e4e;
  background-color: rgb(255, 198, 198);
  /* top: 0px; */
  /* right: -24px; */
  text-align: center;
}

.floating {
  position: absolute;
  left: calc(75vw - 12px);
  top: 0px;
}

#status-icon {
  background: #ccc;
  /* padding: 2px; */
  box-shadow: inset 2px 2px #808080, inset -2px -2px #808080;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  user-select: none;
}

.open-menu {
  padding: 4px;
  font-family: monospace;
  width: 24px;
  height: 24px;
  text-align: center;
}

#depth-controls {
  display: inline-flex;
  gap: 4px;
}

#depth {
  padding: 2px;
}

.game-property {
  margin-bottom: 16px;
}

.game-property label {
  display: block;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.split {
  display: flex;
  column-gap: 8px;
}

#seed {
  width: 100%;
}

#new-game {
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  padding: 4px;
  font-family: "Pixelify Sans", serif;
}

#Settings {
  width: 100%;
  height: 100%;
}

/* Cursors */
.cursor-D {
  cursor: url("/D.png"), auto;
}

.cursor-L {
  cursor: url("/L.png"), auto;
}
.cursor-M {
  cursor: url("/M.png"), auto;
}
.cursor-R {
  cursor: url("/R.png"), auto;
}

.cursor-LM {
  cursor: url("/LM.png"), auto;
}
.cursor-MR {
  cursor: url("/MR.png"), auto;
}
.cursor-LR {
  cursor: url("/LR.png"), auto;
}

.cursor-LMR {
  cursor: url("/LMR.png"), auto;
}

/* Ghost Cursors */
.cursor-GD {
  cursor: url("/GD.png"), auto;
}

.cursor-GL {
  cursor: url("/GL.png"), auto;
}
.cursor-GM {
  cursor: url("/GM.png"), auto;
}
.cursor-GR {
  cursor: url("/GR.png"), auto;
}

.cursor-GLM {
  cursor: url("/GLM.png"), auto;
}
.cursor-GMR {
  cursor: url("/GMR.png"), auto;
}
.cursor-GLR {
  cursor: url("/GLR.png"), auto;
}

.cursor-GLMR {
  cursor: url("/GLMR.png"), auto;
}

